name: sendbird comment bot
on:
  issue_comment:
    types: [created]
jobs:
  pr-comment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: sendbird/release-automation-action@latest
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          product: 'calls'
          platform: 'rn'
          product_jira_project_key: 'CALLS'
          product_jira_version_prefix: 'rn_calls'
          ci: 'github'
